@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 80, 60, 20;  /* 暖かみのあるミディアムブラウン */
  --foreground-bg: 237, 226, 194;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --foreground-bg: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--foreground-bg));;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
